body{
  margin: 0;
}
/* header section */
.header{
    background-color: #FFE9D6;
    position: relative;
  }

  .nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    width: 100%;
  }

  .cartpage{
    display: flex;
    flex-direction: column;
  }

  .navlink{
    width: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
  }

  .navlink a{
    text-decoration: none;
    color: black;
  }

.cart{
    background-color: #FF983D;
    border: none;
    border-radius: 30px;
    height: 65px;
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}

.cartItems{
    color: #fff;
    font-weight: 700;
    font-size: 25px;
  }

  .hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .hero  h1{
    text-transform: uppercase;
    color: #FF7A00;
    font-weight: 900;
    font-size: 40px;
  }

  .top{
      width: 90%;
      margin: auto;
      display: flex;
      justify-content: space-around;
      align-items: center;
      margin-top: 2em;
  }

  .heroImg{
      width: 50%;
  }
  
  .bottom{
    display: flex;
    justify-content: center;
    align-self: center;
    text-align: center;
    background-color: #FF983D;
    margin-bottom: 2em;
    border-radius: 5px;
    padding-top: 1em;
    padding-bottom: 1em;
    width: 20%;
  }

  .bottom a{
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
  }
/* about section */
  .about{
    background-color: black;
    color: #fff;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 0;
    padding: 1em;
  }

  .about p{
      font-size: 20px;
  }

  /* cart section */
.dropdown, .dropdown1{
  background-color: #fff;
  display: flex;
  flex-direction: column;
  width: 50%;
}

.dropdown1{
  display: flex;
  margin: auto;
  margin-top: 6em;
}

.dropdown{
  position: absolute;
  width: 50%;
  left: 20em;
  top: 1em;
}

.droptop, .droptop1{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.droptop1{
  width: 100%;
}

.droptop{
  width: 80%;
}

.cartitem{
  display: flex;
  width: 90%;
  margin: auto;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.cartform{
  width: 80%;
  margin: auto;
  margin-top: 2em;
}

.form, .email{
  background-color: #FFE9D6;
  width: 100%;
  height: 30px;
}

.total{
  width: 50%;
  margin: auto;
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.total > h2{
  margin-top: -7px;
}

.proceed, .proceed1{
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: flex-end;
}

.proceed{
  width: 30%;
  height: 40px;
}

.proceed1{
  justify-content: space-between;
  width: 80%;
}

/* gadgets section */
  .gadgets{
    display: flex;
    flex-direction: column;
    justify-content: center;
  align-items: center;
  text-align: center;
    width: 100%;
  }

  .gadgets > h1{
    text-transform: uppercase;
    font-weight: 900;
  }

  .gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 90%;
  }

  .product{
    width: 30%;
    margin-top: 2em;
  }

  .image{
    width: 100%;
  }

  .image > img{
    width: 100%;
    height: auto;
  }

  .product > h1{
    text-transform: uppercase;
    margin-top: 5px;
    font-weight: 900;
  }

  .overlay{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    margin: auto;
    margin-top: -1.5em;
  }

  .prices{
    font-weight: 900;
  }

  .shopLink, .shopLink1, .shopLink2, .checkoutbutton{
    text-align: center;
    border-radius: 5px;
    color: black;
    font-size: 15px;
    font-weight: 700;
    border: none;
    outline: none;
  }

  .select{
    background-color: #FF983D;
    border: none;
    outline: none;
    padding: 10px 10px;
    border-radius: 10px;
  }

  .select:hover {
    background-color: #FFE9D6;
    color: black;
  }

  .shopLink{
    background-color: #FF983D;
    padding: 10px 30px;
    margin-top: -10px;
    text-transform: uppercase;
  }

  .shopLink1{
    background-color: #FFE9D6;
    text-transform: capitalize;
    border-radius: 10px;
    height: 40px;
  }

  .shopLink2{
    background-color: #FFE9D6;
    padding: 10px 30px;
    margin-top: -10px;
    text-transform: uppercase;
  }

  /* filter section */
  .filter{
    background-color: #FFE9D6;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .filterbar{
    display: flex;
    justify-content: space-between;
    width: 50%;
  }

  /* footer section */
  .footer{
    background-color: black;
    justify-content: space-between;
    align-items: center;
    display: flex;
    padding: 2em;
    margin-top: 5em;
  }
  
  .footer p{
    color: #fff;
  }

  /* mobile design */
  @media screen and (max-width: 870px){

    .dropdown{
      width: 70%;
      left: 8em;
    }

    .dropdown1{
      width: 100%;
    }

    .proceed{
      width: 50%;
    }

    .overlay{
      width: 90%;
    }

    .product{
      width: 45%;
      margin-top: 2em;
    }
    
  }

  @media screen and (max-width: 470px){

    .proceed1, .total{
      width: 100%;
    }

    .logo, .cart{
      width: 60%;
    }

    .cart{
      height: 50px;
    }

    .bottom {
      width: 90%;
    }

    .cartLogo{
      width: 100%;
    }

    .proceed1{
      flex-direction: column;
    }

    .proceed1 button{
      margin-top: 1em;
    }

    .imgtitle, .imgs{
      display: none;
    }

    .itemname, .itemprice{
      font-weight: 600;
      font-size: 15px;
    }

    .dropdown{
      width: 90%;
      left: 1em;
    }

    .proceed{
      width: 70%;
    }

    .top{
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      width: 100%;
    }

    .heroImg{
      width: 100%;
    }

    .filterbar{
      width: 100%;
      margin-bottom: 1em;
    }

    .product{
      width: 100%;
      margin-top: 2em;
    }

    .footer, .filter{
      flex-direction: column;
    }
    
  }

  .testwarning {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 24px;
    color: red;
  }